[Desktop entry]
Name=HTML Viewer
Name[pt_BR]=Visualizador de HTML
Name[fi]=HTML-katselin
Name[fr]=Visualiseur HTML
Name[gl]=Visualizador HTML
Name[no]=HTML-visning
Comment=HTML Viewer properties
Comment[pt_BR]=Propriedades do visualizador de HTML
Comment[fi]=HTML-katselimen asetukset
Comment[fr]=Propriétés du visualiseur HTML
Comment[gl]=Propiedades do Visualizador HTML
Comment[no]=Egenskaper for visning av HTML
Exec=gtkhtml-properties-capplet
Icon=gnome-unknown.png
Terminal=0
Type=Application
