[Desktop Entry]
Name=HTML Editor
Name[es]=Editor HTML
Name[fi]=HTML-editori
Name[fr]=Éditeur HTML
Name[gl]=Editor HTML
Name[it]=Editor HTML
Name[no]=HTML-editor
Name[da]=HTML-editor
Name[pt_BR]=Editor HTML
Name[tr]=HTML editörü
Name[pl]=Edytor HTML-a
Name[uk]=òÅÄÁËÔÏÒ HTML
Comment=HTML Editor properties
Comment[es]=Propiedades del editor HTML
Comment[fi]=HTML-editorin asetukset
Comment[fr]=Configuration des propriétés de l'éditeur HTML
Comment[gl]=Propiedades do Editor HTML
Comment[it]=Proprietà editor HTML
Comment[no]=Egenskaper for HTML-editor
Comment[da]=Egenskaber for HTML-editoren
Comment[pt_BR]=Propriedades do editor HTML
Comment[tr]=HTML editör özellikleri
Comment[pl]=W³a¶ciwo¶ci edytora HTML-a
Comment[uk]=÷ÌÁÓÔÉ×ÏÓÔ¦ ÒÅÄÁËÔÏÒÁ HTML
Exec=gtkhtml-editor-properties-capplet
Icon=gnome-unknown.png
Terminal=0
Type=Application
